.logo{
    width: 98px;
}
.list{
    margin-right: 100px;
}
.header a{
    color: #0D0E43;
}
.header{
    padding-top: 47px;
    padding-bottom: 35px;
    height: 40px;
}
.header input{
    width: 317px;
}
.header button{
    background-color: #FB2E86;
    height: 35px;
    width: 51px;
    border-radius: 2px;
}
.search{
    border:solid #E7E6EF 3px;
    border-radius: 2px;
    height: 40px;   
    width: 310px; 
    display: flex;
}
.list li:first-child a{
    color:#FB2E86;
}
/*start footer*/
.footer button{
    background-color: #FB2E86;
    height: 35px;
    width: 100px;
     border-radius: 2px;
}
.footer h2{
    color:#8A8FB9;
    font-size: 15px;
}
.footer address{
    color:#8A8FB9;
    font-size: 15px;
}
input::placeholder{
    color:#8A8FB9;
}
.footer input{
    background-color:#EEEFFB;
}
.sign-footer{
    border:solid #E7E6EF 3px;
    border-radius: 2px;
    height: 40px;   
    width: fit-content; 
    display: flex;
}
.footer a{
   color:#8A8FB9;
   font-size: 15px;
}
.footer{
    display: flex;
    flex-wrap: wrap;
    gap:70px;
    margin: auto;
    padding-top:90px ;
    padding-bottom: 100px;
}
.right{
    display: flex;
    flex-wrap: wrap;
    width: calc((100% - 70px) / 2);
    gap:20px;
}
.right .items{
    width: calc((100% - 40px) / 3);
}
.background-footer{
    background-color:#EEEFFB;
}
address{
    margin-top:10px ;
}
.right h3{
margin-bottom:30px;
font-family: Josefin Sans;
font-size: 20px;
}
.right ul li{
margin-bottom:10px;    
}
@media screen and (max-width:576px) {
 .footer .right {
    justify-content: center;
    text-align: center;
 }
}